:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-text-container,
.main-interaction-container {
  width: 50%;
}

.quiz-topic-desc {
  margin-top: 50px;
  font-family: RubikItalic;
}

.question-counter {
  margin-bottom: 20px;
  font-family: RubikItalic;
}
