<div class="main-text-container">
  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="State.QUIZ_TOPIC_SELECTOR">
      <p>
        <span class="heading-large-regular">Welcome to the</span><br/>
        <span class="heading-large-bold">Frontend Quiz!</span>
      </p>

      <p class="quiz-topic-desc">Pick a subject to get started.</p>
    </ng-container>

    <ng-container *ngSwitchCase="State.QUIZ">
      <p class="question-counter">Question {{currentQuestionIndex + 1}} of {{quizzes[selectedQuizIndex].questions.length}}</p>

      <p class="heading-medium">{{quizzes[selectedQuizIndex].questions[currentQuestionIndex].question}}</p>
    </ng-container>
  </ng-container>
</div>

<div class="main-interaction-container">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="state === State.QUIZ_TOPIC_SELECTOR">
      <button
        class="topic-option"
        *ngFor="let quiz of quizzes; index as i"
        (click)="onQuizTopicSelect(i)"
      >
        {{quiz.title}}
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="state === State.QUIZ">
      <button
        class="answer-option"
        [ngClass]="{'selected-answer-option': selectedOptionIndex === i, 'right-answer': rightOptionIndex === i}"
        *ngFor="let option of quizzes[selectedQuizIndex].questions[currentQuestionIndex].options; index as i"
        (click)="onAnswerSelect(i)"
      >
        {{option}}
      </button>

      <button
        class="submit-button"
        [ngClass]="{'disabled': rightOptionIndex >= 0}"
        (click)="onAnswerSubmit()"
      >
        Submit Answer
      </button>
    </ng-container>
  </ng-container>
</div>
