<div class="main-text-container">
  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="State.QUIZ_TOPIC_SELECTOR">
      <p>
        <span>Welcome to the</span><br/>
        <span>Frontend Quiz!</span>
      </p>
      <p>Pick a subject to get started.</p>
    </ng-container>

    <ng-container *ngSwitchCase="State.QUIZ">
      <p>
        <span>Welcome to the</span><br/>
        <span>Frontend Quiz!</span>
      </p>
      <p>Pick a subject to get started.</p>
    </ng-container>
  </ng-container>
</div>

<div class="main-interaction-container">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="state === State.QUIZ_TOPIC_SELECTOR">
      <button
        class="topic-option"
        *ngFor="let quiz of quizzes; index as i"
        (click)="onQuizTopicSelect(i)"
      >
        {{quiz.title}}
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="state === State.QUIZ">
      <button
        class="answer-option"
        [ngClass]="{'selected-answer-option': selectedOptionIndex === i, 'right-answer': rightAnswerIndex === i}"
        *ngFor="let option of quizzes[selectedQuizIndex].questions[currentQuestionIndex].options; index as i"
        (click)="onAnswerSelect(i)"
      >
        {{option}}
      </button>

      <button
        class="submit-button"
        (click)="onAnswerSubmit()">
        Submit Answer
      </button>
    </ng-container>
  </ng-container>
</div>
