<ng-container [ngSwitch]="state">
  <ng-template [ngSwitchCase]="State.QUIZ_TOPIC_SELECTOR">
    <ng-container *ngTemplateOutlet="quizTopicSelector"></ng-container>
  </ng-template>
  <ng-template [ngSwitchCase]="State.QUIZ">
    <ng-container *ngTemplateOutlet="quiz"></ng-container>
  </ng-template>
  <ng-template [ngSwitchCase]="State.QUIZ_RESULT">
    <ng-container *ngTemplateOutlet="quizResult"></ng-container>
  </ng-template>
</ng-container>

<ng-template #quizTopicSelector>
  <div class="main-text-container">
    <p>
      <span class="heading-large-regular">Welcome to the</span><br/>
      <span class="heading-large-bold">Frontend Quiz!</span>
    </p>

    <p class="quiz-topic-desc">Pick a subject to get started.</p>
  </div>

  <div class="main-interaction-container">
    <button
      (click)="onQuizTopicSelect(i)"
      *ngFor="let quiz of quizzes; index as i"
      class="topic-option">
      <span [ngStyle]="{'background-image': 'url(' + quiz.icon + ')'}" class="topic-icon-holder"></span>
      <span>{{quiz.title}}</span>
    </button>
  </div>
</ng-template>

<ng-template #quiz>
  <div class="main-text-container">
    <p class="question-counter">Question {{currentQuestionIndex + 1}}
      of {{quizzes[selectedQuizIndex].questions.length}}</p>

    <p class="heading-medium">{{quizzes[selectedQuizIndex].questions[currentQuestionIndex].question}}</p>
  </div>

  <div class="main-interaction-container">
    <button
      (click)="onAnswerSelect(i)"
      *ngFor="let option of quizzes[selectedQuizIndex].questions[currentQuestionIndex].options; index as i"
      [ngClass]="{'selected-answer-option': selectedOptionIndex === i, 'right-answer': isSubmitted && rightOptionIndex === i, 'wrong-answer': isSubmitted && rightOptionIndex !== i, 'disabled': isSubmitted}"
      class="answer-option">
      <span class="question-letter-holder"></span>
      <span class="question-text">{{option}}</span>
      <span class="decision-icon"></span>
    </button>

    <button
      (click)="onAnswerSubmit()"
      [ngClass]="{'disabled': isSubmitted}"
      class="action-button">
      Submit Answer
    </button>
  </div>
</ng-template>

<ng-template #quizResult>
  <div class="main-text-container">
    <p>
      <span class="heading-large-regular">Quiz completed</span><br/>
      <span class="heading-large-bold">You scored...</span>
    </p>
  </div>

  <div class="main-interaction-container">
    <p>{{rightAnswerCount}} out of {{quizzes[selectedQuizIndex].questions.length}}</p>

    <button
      (click)="reset()"
      class="action-button">
      Play Again
    </button>
  </div>
</ng-template>
