/* COLORS */

$gray-4: #313E51;
$gray-3: #3B4D66;
$gray-2: #626C7F;
$gray-1: #F4F6FA;
$white: #FFFFFF;
$light-blue: #ABC1E1;
$red: #EE5454;
$purple: #A729F5;
$purple-transparent: rgba(167, 41, 245, 0.2);
$green: #2FD887;
$green-transparent: rgba(47, 216, 135, 0.2);
$orange: #FF7E35;
$orange-transparent: rgba(255, 126, 53, 0.2);
$blue: #306AFF;
$blue-transparent: rgba(48, 106, 255, 0.2);
